    :host{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100vw;
    }

    #register-title{
        font-size: 30px;
        margin-bottom: 30px;
        color: white;
        outline: none;

    }

    .register-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background: linear-gradient(-70deg, rgba(177, 99, 255, 0.7), rgba(127, 0, 255, 0.7));
        backdrop-filter: blur(10px);
        border: none;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .register-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        width: 300px;
        overflow-wrap: break-word; 
        word-wrap: break-word;
    }

    .form-input{
        padding: 12px 0px 12px 50px;
        outline: none;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 85%;
    }

    .register-button{
        padding: 10px;
        background-color: rgb(225, 64, 158);
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .register-button:hover{
        transform: scale(1.03);
    }
    .register-button:active{
        transform: scale(0.97);
    }
    
    .form-group {
        position: relative;
    }

    .error_message{
        color: red;
    }
