<app-auth-container title="Login" linkRouter="profileConfiguration" linkText="Create an account">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <i
        class="fas fa-envelope"
        style="position: absolute; margin-left: 15px; top: 14px; font-size: 20px"
      ></i>

      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        class="form-input"
        formControlName="email"
        (input)="checkEmailErrors()"
        (blur)="checkAllEmailErrors()"
        required
      />
    </div>

    @if (emailErrorMessage()) {
      <app-error-messge-component
        errorMessage="{{ emailErrorMessage() }}"
      ></app-error-messge-component>
    }

    <div class="form-group">
      <i
        class="fas fa-lock"
        style="position: absolute; margin-left: 15px; top: 14px; font-size: 20px"
      ></i>

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        class="form-input"
        formControlName="password"
        (input)="checkPasswordError()"
        (blur)="checkPasswordError()"
        required
      />
    </div>

    @if (passwordErrorMessage()) {
      <app-error-messge-component
        errorMessage="{{ passwordErrorMessage() }}"
      ></app-error-messge-component>
    }

    <app-generic-button-component button_text="Login"></app-generic-button-component>
  </form>
</app-auth-container>
