html,body {
    font-family: "system-ui";
    margin: 0;
    padding: 0;
    background-image: url('assets/background/backgroundGame2.jpg');
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    background-attachment: fixed;}

* {
    outline: none;
}

